/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
.padding{
  padding: 0 250px;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.view-button{
  background-color: inherit;
  margin: 20px 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 12px;
  color: white;
}
.linea{
  height: 1px;
  flex-grow: 1;
  background-color: grey;
}
.spazio-sezione{
  margin-bottom: 50px;
}
/* HEADER */
#header{
  display: flex;
  justify-content: space-between;

}
#header nav{
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}
/* social-account */
#header .social-account{
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid grey;
}
#header .social{
  width: 100px;
}
#header .account{
  width: 350px;
}
/* navigazione */
#header .navigazione{
  height: 100px;
  align-items: center;
  border-bottom: 1px solid grey;
}
#header .navbar{
  width: 70%;
}
/* MAIN */
main{
  margin-top: 140px;
  height: 3000px;
}

/* jumbotron */
#jumbotron{
  width: 100%;
  height: 550px;
  background-image: url('../img/jumbo.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
#jumbotron .text-jumbo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
#jumbotron .text-jumbo h1{
  font-size: 70px;
  margin-bottom: 20px;
}
#jumbotron .text-jumbo .sottotitolo{
  font-size: 20px;
}

/* featured-products */
#featured-products h1{
  margin: 0 20px;
}
#featured-products p{
  text-align: center;
}
#featured-products .menu{
  margin: 30px 0;
}
#featured-products .menu .text{
  padding: 10px 25px;
  border: 1px solid grey;
}
.active{
  background-color: lightgrey;
}
#featured-products .img{
  margin: 0 20px;
}
#featured-products .img *{
  margin-bottom: 10px;
}
#featured-products .prezzo{
  color: blue;
}
#featured-products .prezzo span{
  text-decoration: line-through;
  margin-right: 10px;
}

/* collection */
#season-collection .immagine{
  height: 500px;
  width: calc(100% / 3);
  background-size: cover;
  position: relative;
}
#season-collection .winter{
  background-image: url('../img/winter.jpg');
}
#season-collection .spring{
  background-image: url('../img/spring.jpg');
}
#season-collection .autumn{
  background-image: url('../img/autumn.jpg');
}
#season-collection .text h1{
  font-size: 30px;
  margin-bottom: 20px;
}
#season-collection .text{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

/* best seller */
#best-seller h1{
  margin: 0 20px;
}
#best-seller p{
  text-align: center;
}

/* discount */
#discount{
  height: 400px;
  background-image: url('../img/bg-confetti.jpg');
  background-size: cover;
  background-position: center;
}
#discount .immagine{
  height: 300px;
  width: 450px;
  background-size: cover;
  position: relative;
  margin: 0 30px;
}
#discount .bg-box-1{
  background-image: url('../img/bg-box-1.jpg');
}
#discount .bg-box-2{
  background-image: url('../img/bg-box-2.jpg');
}
#discount .text h1{
  font-size: 30px;
  margin-bottom: 20px;
}
#discount .text{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: white;
}
/* new arrivals */
#new-arrivals h1{
  margin: 0 20px;
}
#new-arrivals p{
  text-align: center;
}
#new-arrivals .immagini img{
  width: 295px;
  height: 390px;
}
