<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>
  </head>
  <body>

    <div id="container">

      <!-- intestazione -->
      <header id="header"  >
        <!-- navbar -->
        <nav>
          <!-- social e opzioni account -->
          <div class="social-account padding flex-between">
            <div class="social flex-between">
              <a v-for="icon in socials" :href="icon.link"> <i :class="icon.social"> </i></a>
            </div>
            <div class="account flex-between">
              <a v-for="item in profilo" href=""> <i :class="item.cart"></i> {{item.str}} <i :class="item.dropdown"></i> </a>
            </div>
          </div>

          <!-- navigazione -->
          <div class="navigazione padding flex-between">
            <img :src="logo" alt="">
            <div class="navbar flex-between">
              <a v-for="item in menu" href="">{{item.str}}<i :class="item.dropdown"></i> </a>
              <button type="button" class=""> <a href="#">{{button}}</a> </button>
              <i :class="search"></i>
            </div>
          </div>

        </nav>
      </header>

      <!-- corpo principale -->
      <main>
        <!-- jumbotron -->
        <section id="jumbotron" class="spazio-sezione">
          <div class="text-jumbo">
            <h1>Brand New Arrivals</h1>
            <div class="sottotitolo">NEW COLLECTION FROM NEW YORK</div>
            <button type="button">VIEW ALL</button>
            <button type="button">LOOKBOOK</button>
          </div>
        </section>

        <!-- featured products -->
        <section id="featured-products" class="padding spazio-sezione">
          <div class="titolo flex-center">
            <div class="linea"></div>
            <h1 class="margin-h1">Featured Products</h1>
            <div class="linea"></div>
          </div>

          <p>Must have products from our top seller</p>

          <div class="menu flex-center">
            <div class="text">Men</div>
            <div class="text active">Women</div>
            <div class="text active">Accesories</div>
          </div>

          <div class="immagini flex-center">
            <div class="img">
              <img src="img/men-1.jpg" alt="">
              <h4>Black Leather Jacket</h4>
              <div class="descrizione">Man, Jacket, Jeans</div>
              <div class="prezzo"> <span>$235</span>$200</div>
            </div>
            <div class="img">
              <img src="img/men-2.jpg" alt="">
              <h4>Black Leather Suit</h4>
              <div class="descrizione">Man,Jacket</div>
              <div class="prezzo">$176</div>
            </div>
            <div class="img">
              <img src="img/men-3.jpg" alt="">
              <h4>Black Jacket &amp; Streep Tee</h4>
              <div class="descrizione">Man, Jacket, Suits</div>
              <div class="prezzo">$580</div>
            </div>
            <div class="img">
              <img src="img/men-4.jpg" alt="">
              <h4>Modern Black Leather Suit</h4>
              <div class="descrizione">Man,Jacket</div>
              <div class="prezzo">$96</div>
            </div>
          </div>
        </section>

        <!-- season collection -->
        <section id="season-collection" class="flex-center spazio-sezione">
          <div class=" immagine winter">
            <div class="text">
              <h1>Winter Collection</h1>
              <div class="">STYLISH AND WARM</div>
              <button type="button">VIEW MORE</button>
            </div>
          </div>
          <div class="immagine spring">
            <div class="text">
              <h1>Spring Collection</h1>
              <div class="">BRIGTH AND COLORFUL</div>
              <button type="button">VIEW MORE</button>
            </div>
          </div>
          <div class="immagine autumn">
            <div class="text">
              <h1>Autumn Collection</h1>
              <div class="">RICH AND COMFORTABLE</div>
              <button type="button">VIEW MORE</button>
            </div>
          </div>
        </section>

        <!-- best seller -->
        <section id="best-seller" class="padding spazio-sezione">
          <div class="titolo flex-center">
            <div class="linea"></div>
            <h1 class="margin-h1">Best seller</h1>
            <div class="linea"></div>
          </div>

          <p>Must have products from our top seller</p>

          <div class="immagini flex-center">
            <i class="fas fa-angle-left"></i>
            <img src="img/best-seller-1.jpg" alt="">
            <img src="img/best-seller-2.jpg" alt="">
            <img src="img/best-seller-3.jpg" alt="">
            <img src="img/men-1.jpg" alt="">
            <img src="img/best-seller-5.jpg" alt="">
            <i class="fas fa-angle-right"></i>

          </div>
        </section>

        <!-- discount -->
        <section id="discount" class="flex-center spazio-sezione">
          <div class="immagine bg-box-1">
            <div class="text">
              <h1>Autumn Collection</h1>
              <div class="">RICH AND COMFORTABLE</div>
              <button type="button">VIEW MORE</button>
            </div>
          </div>
          <div class="immagine bg-box-2">
            <div class="text">
              <h1>Autumn Collection</h1>
              <div class="">RICH AND COMFORTABLE</div>
              <button type="button">VIEW MORE</button>
            </div>
          </div>
        </section>

        <!-- new arrivals -->
        <section id="new-arrivals" class="spazio-sezione">
          <div class="titolo flex-center">
            <div class="linea"></div>
            <h1 class="margin-h1">New Arrivals</h1>
            <div class="linea"></div>
          </div>

          <p>Brand new product from top designers</p>

          <div class="immagini flex-center">
            <i class="fas fa-angle-left"></i>
            <img src="img/new-arrivals-1.jpg" alt="">
            <img src="img/new-arrivals-2.jpg" alt="">
            <img src="img/new-arrivals-3.jpg" alt="">
            <img src="img/new-arrivals-4.jpg" alt="">
            <img src="img/new-arrivals-5.jpg" alt="">
            <i class="fas fa-angle-right"></i>
          </div>
        </section>

        <!-- theme-fusion -->
        <section id="theme-fusion" class="spazio-sezione">
          <div class="first-bg"></div>
          <div class="man">
            <img src="img/man-testimonial.png" alt="">
            <p>Curabitor non tristique tortor. Vestibulum aliquet suscipit ipsum in volutpat. Donec vel lacinia sem, vitae semper nulla. In hac habitasse platea dictumst. Mauris consectetur est et nibh sapid hendrerit bibendum </p>
            <p>Dario Pi&#769;neda, Theme Fusion </p>
            <i class="fas fa-circle"></i>
            <i class="far fa-circle"></i>
          </div>
          <div class="second-bg"></div>
 
        </section>

        <!-- blog -->
        <section id="blog" class="padding">
          
          <div class="titolo flex-center">
            <div class="linea"></div>
            <h1 class="margin-h1">From Our Blog</h1>
            <div class="linea"></div>
          </div>

          <p>The latest Classic Shop news</p>

          <div class="immagini flex-between">
            <div class="img">
              <img src="img/blog-1.jpg" alt="">
              <h4>Aenan lobortis sapien enim viverra</h4>
              <div class="descrizione">September 9th,2015 | 0 Comments</div>
              <p>Donec finibus sit amet orci eget ultricies. Present posuerre ante ut erat fringilla</p>
            </div>
            <div class="img">
              <img src="img/blog-2.jpg" alt="">
              <h4>Duis ac massa semper maximus</h4>
              <div class="descrizione">September 9th,2015 | 0 Comments</div>
              <p>Donec finibus sit amet orci eget ultricies. Present posuerre ante ut erat fringilla</p>
            </div>
            <div class="img">
              <img src="img/blog-3.jpg" alt="">
              <h4>Nunc femmit nulla eu justo sem id</h4>
              <div class="descrzione">September 9th,2015 | 0 Comments</div>
              <p>Donec finibus sit amet orci eget ultricies. Present posuerre ante ut erat fringilla</p>
            </div>
          </div>
        </section>


        <div class="linea divisoria"></div>    <!--linea divisoria-->

        <!-- articoli -->
        <section id="articoli" class="padding flex-between spazio-sezione">

          <div class="featured width">
            <div class="titolo">FEATURED</div>

            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
              </div>
              <img src="img/articoli-1.jpg" alt="">
            </div>

            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i>
              </div>
              <img src="img/articoli-2.jpg" alt="">
            </div>

            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
              </div>
              <img src="img/articoli-3.jpg" alt="">
            </div>

          </div>

          <div class="sale width">
            <div class="titolo">ON SALE</div>

            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i>
              </div>
              <img src="img/articoli-2.jpg" alt="">
            </div>
            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
              </div>
              <img src="img/articoli-4.jpg" alt="">
            </div>
            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
              </div>
              <img src="img/articoli-6.jpg" alt="">
            </div>

          </div>

          <div class="rated width">
            <div class="titolo">TOP RATED</div>

            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i>
              </div>
              <img src="img/articoli-5.jpg" alt="">
            </div>

            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i>
              </div>
              <img src="img/articoli-2.jpg" alt="">
            </div>

            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i>
              </div>
              <img src="img/articoli-7.jpg" alt="">
            </div>
          </div>

          <div class="reviews width">
            <div class="titolo">LATEST REVIEWS</div>
            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i>
              </div>
              <img src="img/articoli-2.jpg" alt="">
            </div>

            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i>
              </div>
              <img src="img/articoli-5.jpg" alt="">
            </div>

            <div class="img-text flex-between">
              <div class="descrizione">
                <div>Black Jacket <strong class="prezzo">$125</strong></div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i>
              </div>
              <img src="img/articoli-7.jpg" alt="">
            </div>
          </div>

        </section>

        <!-- loghi -->
        <section id="loghi" class="padding flex-center spazio-sezione">
          <div class="titolo">BRAND LOGOS</div>
          <div class="img flex-around">
            <img src="img/brand-1.png" alt="">
            <img src="img/brand-2.png" alt="">
            <img src="img/brand-3.png" alt="">
            <img src="img/brand-4.png" alt="">
            <img src="img/brand-5.png" alt="">
          </div>
        </section>

        <!-- subscribe -->
        <section id="subscribe" class="padding flex-between">
          <div class="text flex-between">
            <i class="far fa-envelope"></i>
            <h1>Subscribe now and get special offers</h1>
          </div>
          <div class="email flex-between">
            <input type="text" placeholder="Insert you email">
            <button>SEND</button>
          </div>
        </section>
      </main>

      <!-- footer -->
      <footer id="footer">
        <section id="avada-classic-shop">
        </section>
        <section id="copyright">
        </section>
      </footer>

    </div>


    <!-- SCRIPT -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
